<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AYUSH MEDIA WEB APP </title>
    <link rel='shortcut icon' href = '../images/logo.jpg' type='image/x-icon'>
    <link rel='stylesheet' href='../css/style.css'>
</head>

<body>
    <div id='box'>
    <h3 id='memeBtn' onclick="fetchMemes()" >Dank memes</h3>
    <h3 id='memeBtn2' onclick="fetchMemesIndian()" >Indian Dank memes</h3>
    <h3 id='footballButton' onclick='fetchFootballNews()' > Football News</h3>
    <h3 id='newsButton' onclick='fetchNews()' > Global News</h3>
    
    </div>
    <script src = '../js/main.js'></script>
    <script src = '../js/news.js'></script>
    <script src = '../js/colorChange.js'></script>
</body>
</html>